* {
    font-family: 'Manrope', sans-serif;
}

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #031B34;
    /* border: 1px solid red; */
}

.contact_container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.form_container {
    width: 500px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  /*   border: 1px solid red; */
}

.form_container h1 {
    font-weight: 800;
    background: linear-gradient(89.97deg, #F49867 1.84%, #AE67FA 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
}

.form {
    width: 70%;
    height: 430px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red;  */
}
.form .error-message {
    height: 15px;
    line-height: 15px;
    font-weight: 800;
    color: red;
    /* border: 1px solid red; */
}

.form_container .form .field {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 100;
    border: none;
    outline: none;
    padding-left: 15px;
    box-sizing: border-box;
    background: #040C18;
    color: #49AEEA;
}
.form_container .form .field::placeholder{
    color: #49AEEA;
    font-size: 14px;
}

.form_container .form textarea {
    width: 100%;
    height: 150px;
    font-size: 14px;
    font-weight: 100;
    border: none;
    outline: none;
    padding: 15px 15px;
    box-sizing: border-box;
    background: #040C18;
    color: #49AEEA;
    resize: none;
}
.form_container .form textarea::placeholder {
    color: #49AEEA;
    font-size: 14px;
}

.btn_send {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    outline: none;
    font-weight: 800;
    cursor: pointer;
    background: #49AEEA;
    color: #040C18;
    border: none;
    margin-top: 20px;
}

.section {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.testimonial_container {
    width: 350px;
    height: 400px;
    background: #040C18;
    border-radius: 15px;
    /* border: 1px solid red; */
}

.profile_container {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    /* border: 1px solid red; */
}

.profile_container img {
    width: 100px;
    border-radius: 50%;
}

.testimonial_text {
    width: 80%;
    min-height: 150px;
    height: auto;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #81AFDD;
/*     border: 1px solid red; */
}

.testimonial_name {
    font-weight: 800;
    font-size: 22px;
    font-style: normal;
    color: #49AEEA;
}

.testimonial_icons {
    width: 30%;
    margin: auto;
    margin-top: 10px;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #49AEEA;
}

.testimonial_icons a {
    color: #49AEEA;
}

@media screen and (max-width:1200px){
    .form {
        height: 350px;
    }
    .form_container .form .field {
        height: 40px;
    }
    .form .error-message {
        height: 10px;
        font-size: 12px;
    }
    .section {
        width: 300px;
    }
    .testimonial_container {
        height: 320px;
    }
    .profile_container img {
        width: 60px;
    }
    .testimonial_name {
        font-size: 18px;
    }
    .testimonial_text {
        height: 120px;
        font-size: 16px;
    }
    .testimonial_icons {
        font-size: 22px;
    }
}

@media screen and (max-width:900px) {
    .form_container h1 {
        font-size: 32px;
    }
    .btn_send {
        width: 80px;
        height: 30px;
        line-height: 30px;
    }
}

@media screen and (max-width:700px) {
    .contact {
        height: auto;
    }
    .contact_container {
        height: 900px;
        flex-direction: column-reverse;
    }
    .form_container h1 {
        font-size: 26px;
    }
}

@media screen and (max-width:450px) {
    .contact {
        height: 1000px;
    }
    .form_container {
        width: 350px;
    }
    .form {
        margin-bottom: 50px;
    }
}