* {
    font-family: 'Manrope', sans-serif;
}
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_container {
    max-width: 600px;
    height: 600px;
    color: #81AFDD;
    text-align: justify;
}

.text_container h1 {
    font-weight: 800;
    font-size: 36px;
}

.text_container p {
    font-size: 18px;
    font-weight: 400;
}

.img_container {
    width: 400px;
    height: 300px;
    margin-top: 70px;
    border-radius: 10px;
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgb(7, 67, 128) 85%, transparent 100%);
}

.text_container img {
    width: 400px;
    height: 100%;
    border-radius: 10px;
    transform: rotate(12deg);
    transition: all 0.5s ease-in-out;
}
.text_container img:hover {
    transform: rotate(0deg);
}

@media screen and (max-width:1200px){
    .text_container h1 {
        margin-top: 50px;
    }
    .img_container {
        margin-top: 50px;
    }
}

@media screen and (max-width:900px) {
    .text_container h1 {
        font-size: 32px;
    }
    .img_container {
        width: 350px;
        height: 260px;
    }
    .text_container img {
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    .text_container {
        width: 80%;
    }
    .text_container h1 {
        font-size: 26px;
    }
}

@media screen and (max-width:450px) {
    .text_container p {
        font-size: 14px;
    }
    .img_container {
        width: 250px;
        height: 200px;
    }
}